/*product info*/

.dark-mode .comment-form h3 {
    color: var(--dark);
}
.dark-mode .comment-form label {
    color: var(--dark);
}

.dark-mode .bi-star-fill {
    color: var(--accent); 
}

.dark-mode #inputComment {
    background-color: var(--dark);
    color: var(--white);
}

.dark-mode .relacionado-item {
    border: 0.1rem solid var(--accent);
    background-color: var(--white);
}

/*nav*/
.dark-mode nav {
    outline: 0.1rem solid var(--accent);
    border-top: none;
}

.dark-mode .luna-icon {
    fill: var(--accent);
    stroke: var(--accent);
}

.dark-mode .luna-icon:hover {
    stroke: var(--dark);
}

/*products*/

.dark-mode .order-container {
    color: var(--dark);
}

.dark-mode .btn-outline-dark {
    border: 1px solid var(--dark);
    color: var(--dark);
}

.dark-mode #filterToggle {
    color: var(--white);
    fill: var(--dark);
    border: solid var(--accent);
}

.dark-mode .list-item-container {
    background-color: var(--white);
    border: 1px var(--accent) solid;
}

.dark-mode p.precio {
    color: var(--white);
}

/*categorias*/
.dark-mode .list-group-item {
    background-color: var(--white);
    color: var(--dark);
    border: solid var(--accent);
    border-radius: 10px;
}

.dark-mode h1, p.lead {
    color: var(--dark);
}

/*login*/
.dark-mode body > .container {
    border: solid var(--dark);
    box-shadow: none;
    background-color: var(--white);
}

.dark-mode .container h2, span {
    color: var(--dark);
}

.dark-mode #usuario, .dark-mode #contraseña {
    background-color: var(--dark);
}
.dark-mode .icon00, .icon01{
    color: var(--dark);
}

.dark-mode #btn-sign-in, #btn-sign-up {
    background-color: var(--white);
    color: var(--dark);
}

.dark-mode .welcome-sign-in  .welcome-sign{
    background-color: var(--white);
    border: solid var(--accent);
}

.dark-mode .container-welcome .welcome-sign-in.welcome {
    padding: auto;
    border-top:none;
}

.dark-mode .sign-up input {
    background-color: var(--dark);
}

.dark-mode .container:has(#btn-sign-up:focus) {
    border: solid var(--accent);
}

.dark-mode h2 .reg1, .reg-1 {
    color: var(--accent);
}

.dark-mode .icon-registro { 
    color: var(--accent);
}

.dark-mode main .container {
    border: none;
}

.dark-mode main label {
color: var(--accent);
}

.dark-mode .card-profile { 
    border: solid var(--accent);
    background-color: var(--white);
}

.dark-mode .fas:not(.fa-star, .fa-check),
.dark-mode button:not(.disabled) i.fas {
    color: var(--accent);
}

.dark-mode button.disabled i.fas {
    color: inherit;
}

.dark-mode #btnGuardar {
    border: solid var(--accent);
    background-color: var(--accent);
    color: var(--white);
}

.dark-mode #btnCancelar {
    border: solid var(--accent);
    color: var(--dark);
    background-color: var(--white);
}

.darkmode-sensitive-btn{
	background: var(--dark);
	color: var(--page-bg);
}

.form-edit-inputs{
    color: #000C14 !important;
}

.form-edit-inputs-cancel{
    color: white !important;
}

.dark-mode .feedback-content {
  background: var(--white);
  color: var(--dark);
}
