.carrito-container {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    padding: 0 2rem;
    gap: 2rem;
}

.carrito-detalle {
    display: flex;
    flex-direction: column;
}

.carrito-detalle .content {
    border-radius: 12px;
    min-width: fit-content;
    height: fit-content;
    border: var(--accent) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carrito-detalle .content hr {
    color: var(--accent);
    height: 1.8px;
    opacity: unset;
    margin: 0;
}

.carrito-detalle .content > div{
    width: 100%;
}

.carrito-detalle h5 {
    color: var(--accent);
    margin-bottom: 1rem;
}


.detalle-info {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.detalle-info div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detalle-info div:last-child {
    border-bottom: 2px solid var(--accent);
}

.detalle-info div p:last-of-type {
    text-align: end;
}

.detalle-precio {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.subtotal {
    color: var(--dark);
    padding-left: 1.5rem;
    font-weight: bolder;
}

.list-item-container:nth-child(1) {
    margin-top: 0;
}

.list-item-container:last-of-type {
    margin-bottom: 0;
}

.list-item-container {
    background-color: var(--page-bg);
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    border: 2px var(--accent) solid !important;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.list-item-container:hover {
    background-color: var(--ligt-grey);
}

.list-item-container .img-contenido {
    height: 210px;
    min-width: 340px;
    align-self: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.list-item-container img {
    width: 100%;
    object-fit: cover;
}

h3 {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 20pt;
}

.abajo {
    position: absolute;
    bottom: 0;

}

/* Contenido texto de un producto */
.contenido {
    border: none !important;
    color: var(--dark);
    margin-left: .7rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: var(--page-bg);
}

/* Hace referencia a título y descripción de un producto */
.contenido-1 {
    display: flex;
    flex-direction: column;
    padding-right: .7rem;
}

.contenido-1 p {
    font-weight: normal;
    word-wrap: break-word;
    text-align: justify;
    font-size: 12pt;
    margin-right: 20px;
}

/* Hace referencia a cantidad de vendidos y precio del producto */
.contenido-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom: 0;
    right: 0;
    justify-content: end;
}

.contenido-2 p {
    font-weight: normal;
    margin-bottom: 0;
}

.precio {
    margin-top: -.5rem !important;
    font-size: 1.5rem;
}

.moneda {
    font-size: 1.2rem;
    margin-right: .5rem !important;
    align-self: center;
    color: var(--dark);
}

.monedas {
    display: flex;
    line-height: 26pt;
    justify-content: flex-end;
}

.resaltado {
    padding: 1rem 1rem .3rem 1rem;
    border-radius: 32px 0 7px 0;
    background: var(--accent);
}

p#subtotalPrecio,
p#subtotalMoneda,
p.subtotal {
    margin-bottom: 0;
}

p#subtotalMoneda {
    align-self: center;
    font-size: 1rem;
    white-space: pre;
}

fieldset.cart-input {
    border-radius: 10px;
    border: var(--accent) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    max-width: 10rem;
    margin: 1rem 0;
}

fieldset.cart-input input {
    transition: .3s;
    border: none;
    line-height: 2rem;
    appearance: textfield;
    width: 4rem;
    padding: 0;
    font-size: 14pt;
    height: 2rem;
    background: transparent;
    color: var(--accent);
    text-align: center;
    font-weight: bolder;
}

fieldset.cart-input input::-webkit-inner-spin-button,
fieldset.cart-input input::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
}

fieldset.cart-input button {
    border-radius: inherit;
    border: none;
    background-color: transparent;
    color: var(--accent);
    cursor: pointer;
    transition: opacity 0.15s;
}

.disabled {
    color: var(--bs-gray) !important;
}

.add {
    right: 0.6rem;
    background-position-x: -2.8rem;
    background-position-y: -.5rem;
}

.sub {
    left: 0.6rem;
    background-position-y: -.5rem;
}

.contenido-mid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
}

.contenido-mid p {
    align-self: center;
    margin: 0 1rem 0 0;
}

.del {
    width: 1.5rem;
    top: 0.2rem;
    display: block;
    padding: 0;
    margin-top: 1rem;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    cursor: pointer;
    transition: opacity 0.15s;
    background: var(--page-bg) url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE4IDZWMTYuMkMxOCAxNy44ODAyIDE4IDE4LjcyMDIgMTcuNjczIDE5LjM2MkMxNy4zODU0IDE5LjkyNjUgMTYuOTI2NSAyMC4zODU0IDE2LjM2MiAyMC42NzNDMTUuNzIwMiAyMSAxNC44ODAyIDIxIDEzLjIgMjFIMTAuOEM5LjExOTg0IDIxIDguMjc5NzYgMjEgNy42MzgwMyAyMC42NzNDNy4wNzM1NCAyMC4zODU0IDYuNjE0NiAxOS45MjY1IDYuMzI2OTggMTkuMzYyQzYgMTguNzIwMiA2IDE3Ljg4MDIgNiAxNi4yVjZNNCA2SDIwTTE2IDZMMTUuNzI5NCA1LjE4ODA3QzE1LjQ2NzEgNC40MDEyNSAxNS4zMzU5IDQuMDA3ODQgMTUuMDkyNyAzLjcxNjk4QzE0Ljg3NzkgMy40NjAxMyAxNC42MDIxIDMuMjYxMzIgMTQuMjkwNSAzLjEzODc4QzEzLjkzNzYgMyAxMy41MjMgMyAxMi42OTM2IDNIMTEuMzA2NEMxMC40NzcgMyAxMC4wNjI0IDMgOS43MDk1MSAzLjEzODc4QzkuMzk3OTIgMy4yNjEzMiA5LjEyMjA4IDMuNDYwMTMgOC45MDcyOSAzLjcxNjk4QzguNjY0MDUgNC4wMDc4NCA4LjUzMjkyIDQuNDAxMjUgOC4yNzA2NCA1LjE4ODA3TDggNiIgc3Ryb2tlPSIjRjA5MTAwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPg==') no-repeat 0 0;
}

.contenido-titulo {
    display: flex;
    justify-content: space-between;
}

.contenido-titulo,
.carrito-detalle h5 {
    border-bottom: 2px solid var(--accent);
}

.productos {
    color: var(--dark);
}

.envio-gratis {
    color: green;
}

.envio-disabled {
    display: none;
}

.buy-now {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    width: 100%;
    background: var(--accent);

}

.buy-now:hover:not(:disabled) {
    transform: scale(1.02);
}

.buy-now:disabled {
    cursor: default;
    background: var(--bs-gray);
}

/* Precio unitario */
.product-unit-price {
    display: none;
    color: var(--accent);
    font-weight: bold;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: .5rem;
}

.product-unit-price p {
    margin: 0;
    text-align: center;
}


/* Mensaje de: no tienes productos en tu carrito*/
.no-products {
    display: none;
    border: 2px solid var(--accent);
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    width: 100%;
}

.no-products p {
    margin: 0;
    color: var(--dark);
}

/* Selección de Tipo de envío */
fieldset.envio {
    width: 100%;
    padding: 0 1.5rem;
}

fieldset.envio legend {
    color: var(--dark);
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    padding-top: 1rem;
}

fieldset.envio div {
    display: flex;
    border: var(--accent) solid 2px;
    font-size: medium;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 7px;
}

fieldset.envio div:last-of-type {
    margin-bottom: 0;
}

fieldset.envio div label {
    color: var(--dark);
    cursor: pointer;
    width: 100%;
}

fieldset.envio input[type="radio"] {
    appearance: none;
    cursor: pointer;
    border: 2px solid var(--accent);
    height: 1.5em;
    width: 1.6em;
    border-radius: 100%;
    vertical-align: text-bottom;
    position: relative;
}

input[type="radio"]:disabled {
    border: none;
    cursor: default;
}

fieldset.envio div:has(input[type="radio"]:disabled) label {
    cursor: default;
}

fieldset.envio div:has(input[type="radio"]:disabled) {
    color: var(--bs-gray);
    border: var(--bs-gray) solid 2px;
}

fieldset.envio div span.icon {
    display: none;
    position: absolute;
    color: white !important;
    margin: 3px 3px 0 5px;
    font-size: 15px;
}

fieldset.envio div input[type="radio"]::before {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    top: 0;
}

fieldset.envio div input[type="radio"]:checked::before {
    border: 5px solid transparent;
    border-radius: 100%;
    margin: 4px;
}

fieldset.envio div:has(input[type="radio"]:checked) span.icon {
    display: block;
}

fieldset.envio div:has(input[type="radio"]:checked) {
    background-color: var(--accent);
    font-weight: bold;
}

fieldset.envio div:has(input[type="radio"]:checked) label {
    color: white;
}

/*
fieldset.envio div:has(input[type="radio"]:checked) input[type="radio"] {
    border: 2px solid white;
}*/

@media screen and (max-width: 1024px) {
    #carrito {
        justify-items: center;
    }

    .carrito-container {
        grid-template-columns: 1fr;
    }

    .carrito-detalle .content{
        flex-direction: row;
        justify-content: unset;
    }

    .buy-now {
        width: 60%;
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    .carrito-container {
        padding: 0 1.5rem;
    }

    .contenido-titulo h3 {
        font-size: 14pt;
    }

    .contenido-mid {
        display: block;
    }

    .contenido-mid p {
        margin-top: .5rem;
        font-size: 10pt;
    }

    .contenido-1 {
        padding-right: 1rem;
    }

    .contenido-2 .monedas p {
        font-size: 12pt;
    }

    fieldset.cart-input {
        margin: .5rem 0;
    }

    fieldset.cart-input button i {
        font-size: small;
    }

    fieldset.cart-input input {
        font-size: 12pt;
    }

    fieldset.envio div {
        font-size: small;
    }

    fieldset.envio div span.icon {
        font-size: x-small;
    }

    .detalle-info div p {
        font-size: smaller;
    }
}

@media screen and (max-width: 650px) {
    .carrito-container {
        width: 100%;
    }

    .carrito {
        width: 100%;
    }

    .list-item-container {
        position: relative;
        width: 100%;
        flex-direction: column;
    }

    .list-item-container .img-contenido {
        position: relative;
        min-width: 272px;
        height: auto;
    }

    .carrito-detalle {
        width: 100%;
    }

    .carrito-detalle .content{
        flex-direction: column;
    }

    .detalle-precio{
        display: block;
    }

    .detalle-precio .monedas {
        justify-content: space-between;
    }

    .detalle-precio .moneda {
        align-self: flex-end;
        margin-left: 1.5rem;
    }

    p#subtotalMoneda {
        font-size: smaller;
    }

    .detalle-precio .resaltado {
        width: fit-content;
    }

    .detalle-precio .resaltado p,
    .detalle-precio .subtotal p {
        font-size: large;
    }

    .buy-now {
        margin-top: 1rem;
        width: 100%;
    }
}