:root {
  --accent: #f09100;
  --hover: rgb(209, 82, 32);
  --dark: #000C14;
  --grey: #c5c5c5;
  --light-gray: rgba(255, 255, 255, 0.65);
  --white: white;
  --page-bg: #eaeeff;
  --font-family: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}



.dark-mode {
--accent: #f09100;
  --hover: rgb(209, 82, 32);
  --dark: white;
  --grey:#c5c5c5;;
  --light-gray: rgba(56, 53, 53, 0.822);
  --white: #000C14;
  --page-bg: #000C14;
    
}

